* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: lavender;
    min-height: 100vh;
}
header {
    position: sticky;
    top: 0;
    background-color: lightblue;
    padding: 15px 0;
    text-align: center;
}
header img {
    display: block;
    block-size: 135px;
    margin: 0 auto;
    margin-bottom: 5px;
}
